body {
  font-family: Avenir3, Inter, Georgia, "Times New Roman", Times, serif;
  margin:0;
  padding:0;
}

@font-face {
  font-family: Avenir1;
  src: url(../../public/fonts/Avenir-Black.woff2);
}

@font-face {
  font-family: Avenir2;
  src: url(../../public/fonts/AvenirLTStd-Book.woff2);
}

@font-face {
  font-family: Avenir3;
  src: url(../../public/fonts/AvenirLTStd-Roman.woff2);
}
